@{
    ViewData["Title"] = "Register Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
  <div class="container">
    <form method="post" asp-controller="register" asp-action="register" class="login-form">
        <!-- Kiri: gambar -->
        <div class="image-group">
            <h1 style="color: white; font-size: 54px;">Welcome to Our Website</h1>
            <p style="color: white; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>

        <!-- Kanan: form -->
        <div class="input-group">
            <h1 style="font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Register</h1>
            <input type="text" name="username" placeholder="Username" required />
            <input type="email" name="email" placeholder="Email" required />
             <input type="number" name="NUPTK" placeholder="NUPTK Number"  style="appearance: none;"/>
            <input type="password" name="password" placeholder="Password" required />
              <input type="password" name="confirmPassword" placeholder="confirm Password" required />
            <button type="submit">Register</button>
            <div class="validation-summary-errors">
                <h1 class="list-errors">@Html.ValidationSummary(false, "", new { @class = "text-errors" })</h1>
            </div>
            <p class="register-link">Already have an account? <a href="/">Register here</a></p>
        </div>
    </form>
</div>
</body>
</html>
