* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #7b4397, #dc2430);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 70vw;
  height: 80vh;
  display: flex;              /* Flexbox untuk bagi 2 */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;           /* biar radius kepotong rapi */
}

.image-group {
  width: 50%;                 /* setengah kiri */
  background-image: url('/image/wallpaper.png');
  background-size: cover;
  background-position: center;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-group {
  width: 50%;                 /* setengah kanan */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.input-group button {
  padding: 12px;
  background: #7b4397;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.input-group button:hover {
  background: #5a2c73;
}
.validation-summary-errors ul {
    list-style-type: none; /* hilangkan bullet */
    margin: 0;
    padding: 0;
}

.validation-summary-errors li {
    color: red; /* kasih warna merah biar jelas */
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 20px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
